:root {
  --color-violet: hsl(256, 26%, 20%);
  --color-blue: hsl(216, 30%, 68%);
  --color-violet-dark: hsl(270, 9%, 17%);
  --color-violet-gray: hsl(273, 4%, 51%);
  --color-gray: hsl(0, 0%, 98%);
  --color-facebook: #4267b2;
  --color-twitter: #1da1f2;
  --color-pinterest: #e60023;
  --color-instagram: #c13584;
}
$bp-largest: 75em; //bp at 1200px
$bp-large: 62.5em; //bp at 1000px
$bp-medium: 48em; //bp at 768px
$bp-small: 42em; //bp at 672 px
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", serif;
  font-weight: 300;
}
a,
a:link,
a:visited {
  text-decoration: none;
  font-weight: 700;
}
ul {
  list-style: none;
}
