.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 4em;
}

.logo {
  width: 8rem;
}

.heading-primary {
  font-size: 5.5rem;
  font-weight: 300;
  line-height: 0.8;
  @media only screen and (max-width: $bp-smallest) {
    font-size: 4rem;
  }
}
.heading-primary,
.text-primary,
.link-primary {
  color: var(--color-gray);
}

.text-primary {
  line-height: 1.5;
}

.text-secondary {
  color: var(--color-violet-gray);
}

.link-primary {
  padding: 0.5em 1em;
  border: 0.1rem solid var(--color-gray);
  transition: all 0.2s;
  position: relative;
  z-index: 900;
  &:hover {
    color: var(--color-violet-dark);
    background-color: var(--color-gray);
  }
}

.heading-secondary {
  color: var(--color-violet-dark);
  font-size: 4.5rem;
}

.icon-main {
  width: 5.5rem;
}

.heading-tertiary {
  color: var(--color-gray);
  font-size: 3.7rem;
  line-height: 1;
  @media only screen and (max-width: $bp-smallest) {
    font-size: 2.5rem;
  }
}
.heading-quaternary {
  font-size: 2.1rem;
  color: var(--color-violet-dark);
}

.icon-link {
  width: 2rem;
  height: 2rem;
  position: relative;
  z-index: 11;
}

.heading-quinary {
  font-family: inherit;
  color: var(--color-violet-gray);
  font-size: 1.5rem;
  opacity: 0.7;
  font-weight: 600;
  text-transform: uppercase;
}

.nav-btn {
  display: none;
  padding: 0.6em 0.3em;
  position: relative;
  border: 2px solid var(--color-violet-dark);
  cursor: pointer;
  & > *:not(:last-child) {
    margin-bottom: 0.2rem;
  }
  @media only screen and (max-width: $bp-medium) {
    display: block;
  }
}

.btn-span {
  width: 2rem;
  height: 2px;
  background-color: var(--color-violet-dark);
  display: block;
  transform-origin: center;
  transition: all 0.1s;
  &--3 {
  }
  &--1 {
  }
}
