.header {
  &__nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0;
  }

  &__list {
    display: flex;
    @media only screen and (max-width: $bp-medium) {
      display: none;
    }
  }
  &__list-item {
    &:last-child {
      border: 0.1rem solid var(--color-violet-dark);
      @media only screen and (max-width: $bp-medium) {
        border-color: var(--color-gray);
      }
      & .header__list-link {
        color: var(--color-violet-dark);
        @media only screen and (max-width: $bp-medium) {
          color: var(--color-gray);
        }

        &:hover {
          background-color: var(--color-violet-dark);
          color: var(--color-gray);
          @media only screen and (max-width: $bp-medium) {
            color: var(--color-violet-dark);
          }
        }
      }
    }
  }
  &__list-link {
    color: var(--color-violet-gray);
    display: inline-block;
    padding: 0.5em 1em;
    transition: all 0.2s;
    @media only screen and (max-width: $bp-medium) {
      color: var(--color-gray);
    }
    &:hover {
      color: var(--color-violet-dark);
    }
  }

  &__hero {
    background-color: var(--color-violet);
    padding: 4em 0;
    position: relative;
    @media only screen and (max-width: $bp-medium) {
      padding-top: 0;
    }

    &::before {
      content: "";
      background-image: url(../img//bg-pattern-intro-right-desktop.svg);
      background-position: top right;
      background-repeat: no-repeat;
      background-size: contain;
      height: 80%;
      width: 50%;
      top: 0em;
      right: 0;
      position: absolute;
      z-index: 10;
    }
  }

  &::after {
    content: "";
    background-image: url(../img//bg-pattern-intro-left-desktop.svg);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: contain;
    height: 50%;
    width: 50%;
    bottom: -2rem;
    left: 0;
    position: absolute;
    z-index: 10;
  }
  &__container {
    position: relative;
    padding: 4em 0;

    &::before {
      content: "";
      height: 1px;
      background-color: var(--color-gray);
      position: absolute;
      top: 0;
      width: 11rem;
      @media only screen and (max-width: $bp-medium) {
        display: none;
      }
    }
    @media only screen and (max-width: $bp-medium) {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
    }
  }

  &__text-container {
    width: 54%;

    & > *:not(:last-child) {
      margin-bottom: 2.5rem;
    }

    @media only screen and (max-width: $bp-medium) {
      order: 2;
      width: 100%;
      text-align: center;
    }
  }

  &__img-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 44%;
    @media only screen and (max-width: $bp-medium) {
      position: relative;
      order: 1;
      width: 60%;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 55rem;

    @media only screen and (max-width: $bp-largest) {
      height: auto;
    }
  }
}

.main {
  padding-top: 17em;
  padding-bottom: 7em;
  @media only screen and (max-width: $bp-medium) {
    padding-top: 7em;
  }

  &__heading-secondary-container {
    position: relative;
    &::before {
      content: "";
      height: 1px;
      position: absolute;
      width: 11rem;
      background-color: var(--color-violet-dark);
      top: -50%;
    }
  }

  &__content {
    display: flex;
    margin-bottom: 15rem;
    @media only screen and (max-width: $bp-medium) {
      margin-bottom: 8rem;
    }
  }

  &__credentials-box {
    flex: 0 0 30%;
    margin-right: auto;
  }

  &__heading-tertiary-container {
    background-color: var(--color-violet);
    padding: 3em 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer {
  background-color: var(--color-gray);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0 1em 0;
    border-bottom: 0.1px solid #eee;
  }

  &__social-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    & > *:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__nav {
    display: flex;
    padding: 2em 0;
  }
  &__nav-list {
    display: flex;
    flex-direction: column;
    & > *:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
  &__nav-list-container {
    margin-right: auto;
  }

  &__nav-list-link {
    text-transform: uppercase;
    font-size: 1.4rem;
    color: var(--color-violet);
    transition: all 0.2s;
    &:hover {
      text-decoration: underline;
    }
  }
}
